<!DOCTYPE html>
<html lang="en">
<%= render :partial => :house, :collection => House.all, :as => :c %>
 <div id="wrapper">

        <div class="container">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <div class="row">
                         <div class="col-xs-6 col-md-3">
                         <h1>Houses</h1>
          <ul>
              <% @houses.each do |house| %>

                    <li><%= link_to( house.name, house_path(house)) %>
                    <%= house.user_id  %>
                   <%=link_to("Delete", house_path(house), method: :delete) %>
                    <%= link_to 'Edit', edit_house_path(house) %>
                    </li>
               <% end %>
                </div>
              </div>
          </ul>
          </div>

          </div>
             </div>




                       </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

