<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                      <%= link_to("IoT Home", houses_path) %>
                    </a>
                </li>
                <li>
                    <%= link_to("Sing Up", new_user_registration_path) %>
                </li>
                <li>
                    <%= link_to("New House", new_house_path) %>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->

          <div class="container">
          <h1>Cases</h1>
          <ul>
            <% Case.all.each do |c| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><%= "Case id: " +  c.id.to_s %></h3>
                </div>
                <div class="panel-body">
                  <%= image_tag(c.image_link, width: 600 ) %>
                </div>
                <div class="panel-footer">
                  <span class="label label-default"><%= "Created by: " + c.user.email %></span>
                  <p>
                      <% if current_user == c.user %>
                        <%=link_to("Edit", edit_case_path(c)) %>
                        <%=link_to("Delete", case_path(c), method: :delete) %>
                      <% end %>
                  </p>
                </div>
              </div>
            <% end %>
          </ul>
          </div>




        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                      <div class="row">
                         <div class="col-xs-6 col-md-3">
                            <a href="#" class="thumbnail">
                              <img src="https://cdn3.iconfinder.com/data/icons/gray-toolbar-3/512/processor-512.png" alt="...">
                              </a>
                          </div>
                        </div>




                       </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>





<p>
  <strong>House Name:</strong>
  <%= @house.name %>
  <table>
    <% @house.devices.each do |device| %>
      <tr> <%= device.name %> </tr>
      <tr> <%= device.type %> </tr>
    <% end %>
</table>
</p>






<table>
<% @houses.each do |house| %>
    <tr>
      <td><%= house.name %></td>
      <td><%= house.user_id  %> </td>
      <td><p> <%=link_to("Delete", house_path(house), method: :delete) %> </p></td>
      <td><%= link_to 'Edit', edit_house_path(house) %></td>
    </tr>
<% end %>

</table>

